.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    max-width: 36rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}

.newsletter-form__button {
  margin: 0;
  right: 3px;
  top: 50%;
  height: 80%;
  z-index: 2;
  border-radius: 999px;
  display: flex;
  padding: 9px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--Black, #000);
  transform: translateY(-50%);
}

.newsletter-form__button span {
  color: var(--White, #FFF);
  font-family: Gabarito;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 136%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: white;
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: white;
}

.newsletter-form__button .svg-wrapper {
  color: #fff;
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}